.featuresContainer {
    text-align: center;
    font-weight: 900;
    padding: 36px;
}

.featuresHeading {
    font-family: Raleway, sans-serif;
}


.featuresWrapper {
    flex-wrap: wrap;
    padding-top: 10vh;
    padding-right: 10vw;
    padding-left: 10vw;
    display: flex;
}

.featuresUnderline {
    background-image: linear-gradient(to left, #6278FF, #5EA1FC);
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 55px;
}